:root {
  --Primary: #eb2f64;
  --Primary-light: #ff3366;
  --Primary-dark: #ba265d;
  --Grey-light-1: #faf9f9;
  --Grey-light-2: #f4f2f2;
  --Grey-light-3: #f0eeee;
  --Grey-light-4: #ccc;
  --Grey-dark-1: #333;
  --Grey-dark-2: #777;
  --Grey-dark-3: #999;
  --color-white: #fff;
  --color-black: #000;
  --box-shadow-dark: 0 2rem 5rem rgba(0, 0, 0, 0.4);
  --box-shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.07);
  --border-bottom: 0.1rem solid var(--Grey-light-2);
}

/*    Description    */
.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3rem;
  padding: 1.5rem;
  background-color: var(--Grey-light-2);
  border-bottom: var(--border-bottom);
  color: var(--Grey-dark-2);
  line-height: 2rem;
}

@media only screen and (max-width: 56.25em) {
  .detail {
    padding: 1rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.description {
  background-color: var(--color-white);
  -webkit-box-shadow: var(--box-shadow-light);
  box-shadow: var(--box-shadow-light);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3.5rem;
}

@media only screen and (max-width: 56.25em) {
  .description {
    padding: 2rem;
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .description {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.description .paragraph:not(:last-of-type) {
  margin-bottom: 3rem;
}

.description .list {
  margin: 3rem 0rem;
  list-style: none;
  padding: 3rem 0rem;
  border-bottom: var(--border-bottom);
  border-top: var(--border-bottom);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.description .list__item {
  -webkit-box-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
  margin-bottom: 1rem;
}

.description .list__item::before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: 0.7rem;
  background-color: var(--Primary);

}

/*    Recommended    */
.recommend {
  font-size: 1.3rem;
  color: var(--Grey-dark-3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.recommend__count {
  margin-right: auto;
}

.recommend__friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recommend__photo {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 4rem;
  border-radius: 50%;
  border: 0.3rem solid var(--color-white);
}

.recommend__photo:not(:last-child) {
  margin-right: -1.8rem;
}

/*    User Reviews     */
.user-reviews {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.review {
  background-color: var(--color-white);
  -webkit-box-shadow: var(--box-shadow-light);
  box-shadow: var(--box-shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 56.25em) {
  .review {
    margin-bottom: 3rem;
    padding: 2rem;
  }
}

.review__text {
  z-index: 10;
  position: relative;
}

.review__user {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.review__photo {
  height: 4.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.review__user-box {
  margin-right: auto;
}

.review__user-name {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
}

.review__user-date {
  font-size: 1rem;
  color: var(--Grey-dark-3);
}

.review__rating {
  color: var(--Primary);
  font-size: 2.2rem;
  font-weight: 300;
}

.review::before {
  content: "\201C";
  position: absolute;
  line-height: 1;
  top: -2.75rem;
  left: -0.9rem;
  font-size: 20rem;
  z-index: 1;
  font-family: sans-serif;
  color: var(--Grey-light-3);
}

/*    Call TO action Section    */
.cta {
    padding: 3.5rem 0;
    text-align: center;
    color: var(--Grey-dark-3);
  }
  
  .cta__book-now {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
  }
  
  @media only screen and (max-width: 56.25em) {
    .cta {
      padding: 2.5rem 0;
    }
  }
  
  .btn {
    font-size: 1.3rem;
    border: none;
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
    border-radius: 100px;
    overflow: hidden;
    background-image: -webkit-gradient(linear, left top, right top, from(var(--Primary-light)), to(var(--Primary-dark)));
    background-image: linear-gradient(to right, var(--Primary-light), var(--Primary-dark));
    color: var(--color-white);
    cursor: pointer;
  }
  
  .btn>* {
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: inline-block;
  }
  
  .btn__visible {
    padding: 2rem 7.5rem;
  }
  
  .btn__invisible {
    padding: 2rem 0rem;
    position: absolute;
    left: 0;
    top: -100%;
  }
  
  .btn:hover {
    background-image: -webkit-gradient(linear, right top, left top, from(var(--Primary-light)), to(var(--Primary-dark)));
    background-image: linear-gradient(to left, var(--Primary-light), var(--Primary-dark));
  }
  
  .btn:hover .btn__invisible {
    top: 0;
  }
  
  .btn:hover .btn__visible {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  
  .btn:focus {
    outline: none;
    -webkit-box-shadow: var(--box-shadow-light);
    box-shadow: var(--box-shadow-light);
  }